<header class="library-header">
  <div class="container">
    <nav class="library-navigation">
      <a href="./index.html" class="library-logo">
        <svg width="24px" height="24px" class="icon">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        <p class="library-logo__text">Filmoteka</p>
      </a>
      <ul class="site-nav">
        <li class="site-nav__item"><a href="./index.html" class="site-nav__link">Home</a></li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link site-nav__link--current">My Library</a>
        </li>
      </ul>
    </nav>

    <div class="auth-btn__container">
      <button class="sign-btn">
        <span>Sign in</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172 172" fill="">
          <path d="M22.93333,172h126.13333v-172h-126.13333v11.46667h114.66667v149.06667h-114.66667z"></path>
          <path
            d="M22.93333,91.73333h58.91642l-24.51642,26.28149l8.38724,7.8162l37.15469,-39.83101l-37.15469,-39.83658l-8.38724,7.82176l24.51642,26.28149h-58.91642z">
          </path>
        </svg>
      </button>
    </div>

    <ul class="filter">
      <button class="filter__btn watched-btn-js">Watched</button>
      <button class="filter__btn queue-btn-js">Queue</button>
    </ul>
  </div>
</header>