<section class="section__header">
  <div class="header__container">
    <header class="header">
      <h1 class="visually-hidden">library-heder</h1>
      <nav class="navigation">
        <a href="./index.html" class="header__logo">
          <svg width="24px" height="24px" class="logo">
            <use href="./images/icons/sprite.svg#icon-film"></use>
          </svg>
          <p class="logo__text">Filmoteka</p>
        </a>

        <ul class="header__nav">
          <li class="link"><a href="./index.html">Home</a></li>
          <li class="link link--current"><a class="library-link" href="#">My library</a></li>
        </ul>
      </nav>

      <div class="auth__container">
        <span></span>
      </div>

      <ul class="filter">
        <button class="filter__btn watched-btn-js">Watched</button>
        <button class="filter__btn queue-btn-js">Queue</button>
      </ul>
    </header>
  </div>
</section>