<section class="section__header">
  <div class="header__container">
    <header class="header">
      <h1 class="visually-hidden">hero-heder</h1>
      <nav class="navigation">
        <a href="./index.html" class="header__logo">
          <svg width="24px" height="24px" class="logo">
            <use href="./images/icons/sprite.svg#icon-film"></use>
          </svg>
          <p class="logo__text">Filmoteka</p>
        </a>

        <ul class="header__nav">
          <li class="link link--current"><a href="#">Home</a></li>
          <li class="link"><a class="library-link" href="./library.html">My library</a></li>
        </ul>
      </nav>

      <div class="auth-btn__container">
        <button class="sign-btn">
          <span>Sign in</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172 172" fill="">
            <path d="M22.93333,172h126.13333v-172h-126.13333v11.46667h114.66667v149.06667h-114.66667z"></path>
            <path
              d="M22.93333,91.73333h58.91642l-24.51642,26.28149l8.38724,7.8162l37.15469,-39.83101l-37.15469,-39.83658l-8.38724,7.82176l24.51642,26.28149h-58.91642z">
            </path>
          </svg>
        </button>
      </div>

      <form class="search-form">
        <input class="input" type="text" placeholder="Search films..." />
        <svg width="12px" height="12px" class="search-icon">
          <use href="./images/icons/sprite.svg#icon-search"></use>
        </svg>
      </form>
    </header>
  </div>
</section>