<div class="backdrop is-hidden" data-modal-auth>
	<div class="modal-register">
		<button class="register-close-button" type="button" data-auth-close>
			<svg class="close-button__icon" width="11" height="11">
				<use href="./images/icons/sprite-icons.svg#icon-close"></use>
			</svg>
		</button>

		<!-- форма авторизации -->
		<form class="sign-modal-form">
			<p class="register-modal-form__title">Sign In</p>
			<ul class="form modal-form__list">
				<li class="form__item">
					<label class="form__label" for="mail">Email</label>
					<input class="form__input" type="email" name="mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
						title="Invalid email address" required>
				</li>
				<li class="form__item">
					<label class="form__label" for="password">Password</label>
					<input class="form__input" type="password" name="password"
						pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
						title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
						required>
				</li>
				<li class="form__item">
					<p class="registered">Not registered? <a id="reg-link" href="#">Register</a></p>
				</li>

			</ul>
			<button type="submit" class="button register-modal-form__button">Sign In</button>
		</form>

		<!-- форма регистации -->
		<form class="register-modal-form is-hidden">
			<p class="register-modal-form__title">Registration</p>
			<ul class="form modal-form__list">
				<li class="form__item">
					<label class="form__label" for="name">Name</label>
					<input class="form__input" type="text" name="name" maxlength="20" required>
				</li>
				<li class="form__item">
					<label class="form__label" for="mail">Email</label>
					<input class="form__input" type="email" name="mail" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
						title="Invalid email address" required>
				</li>
				<li class="form__item">
					<label class="form__label" for="password">Password</label>
					<input class="form__input" type="password" name="password"
						pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
						title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
						required>>
				</li>
				<li class="form__item">
					<p class="registered">Already registered? <a id="sign-link" href="#">Sign In</a></p>
				</li>

			</ul>
			<button type="submit" class="button register-modal-form__button">Register</button>
		</form>
	</div>
</div>