.filter {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet) {
    justify-content: center;
  }
}

.filter__btn {
  width: 129px;
  padding: 14px 0 12px;
  text-align: center;
  @include font(12px, 500, 16px);
  text-transform: uppercase;
  color: $whiteColor;
  background-color: transparent;
  border: 1px solid $whiteColor;
  border-radius: 5px;
  cursor: pointer;

  @include for-size(tablet) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &:hover,
  &:focus {
    border-color: $additionalAccentColor;
  }

  // вешаем этот клас на активную кнопку
  &--current {
    background-color: $additionalAccentColor;
    border-color: $additionalAccentColor;
  }
}

.auth__container {
  position: absolute;
  top: 20px;
}

.auth__container span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
}
